@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Hello, Application is Loaded From the <b>@ViewBag.DataCenter</b> Data Center!</h1>
    <p>
        This is an Example of Geo-Distributed Web Application Using Azure Traffic Manager.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="https://cloudanatomy.blogspot.com/" role="button">Blog Post</a>
        <a class="btn btn-info btn-lg" href="https://github.com/TalalAliJutt/GeoWebApp.git" role="button">GitHub Repository</a>
    </p>
</div>